<mat-sidenav-container class="d-flex h-100">
  <mat-sidenav mode="side" opened class="sidenav">
    <p class="text-center small mt-3">Navegação</p>
    <div class="d-flex flex-column mx-3">
      <button mat-raised-button color="primary" class="mb-3" (click)="goToManualPostings()">
        LANÇAMENTOS MANUAIS
      </button>
      <button mat-raised-button color="primary" class="mb-3" (click)="goToFechamentoMensal()">
        FECHAMENTO MENSAL
      </button>
      <button mat-raised-button color="primary" class="mb-3" (click)="goToProdutos()">PRODUTOS</button>
      
      
    </div>
  </mat-sidenav>
</mat-sidenav-container>
