<div class="container mt-4">
    <div class="d-flex flex-wrap justify-content-between align-items-center mb-3">
        <mat-radio-group [(ngModel)]="selectedRoute" (change)="navigateTo(selectedRoute)" class="d-flex">
            <mat-radio-button value="lancamento-manual" class="me-3 button-releases">
                Lançamentos Manuais
            </mat-radio-button>
            <mat-radio-button value="lancamento-processado" class="button-releases">
                Lançamentos Processados
            </mat-radio-button>
        </mat-radio-group>

        <div>
          <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="uploadfile($event)" accept=".csv"/>
          <button mat-raised-button  (click)="csvInput.click()" color="primary"  class="import-file">
            Importar Arquivo
        </button>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
