.mat-elevation-z2 {
    max-width: 75vw;
    margin-top: 1%;
    padding: 1%;
    padding-bottom: 1%;
    border-radius: 8px;
    border: 1px solid #ddd;
  
    th {
      font-size: 15px;
      text-align: center;
      background-color: transparent;
      border: 1px solid #ddd;
    }
  
    td {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
    }
  
  
    .no-border {
      border: none !important;
      font-size: 12px;
      width: 100%;
  
      &:focus {
        outline: none;
      }
    }
  
    .wide-column {
      width: 300px !important;
    }
  
    .short-column {
      width: 120px !important;
      max-width: 120px !important;
    }
  
    input {
      text-align: center;
    }
  
    .button-releases {
      color: #b7b7b7 !important;
      font-weight: 500 !important;
    }
  }
  
  mat-paginator {
    font-size: 12px;
  }

    table.mat-table {
        border-collapse: collapse;
        width: 100%;
    }

    th.mat-header-cell,
    td.mat-cell {
        border: 1px solid #ddd;
        padding: 8px;
    }

    th.mat-header-cell:last-child {
        border-right: none;
    }

    td.mat-cell:last-child {
        border-right: none;
    }

    .odd-row {
        background-color: #f9f9f9;
    }

    .even-row {
        background-color: #fff;
    }


    .mdc-data-table__row:last-child .mdc-data-table__cell {
        border-bottom: 1px solid #ddd;
    }

    .container-table {
        margin-top: 1%;
        max-width: 75vw;
        padding: 10px;        
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        background-color: #fff;
    }

    .mat-mdc-paginator-container {
        margin-top: 16px;
        border-radius: 8px;
    }

    th {
        font-size: 15px;
    }

    .no-border {
        border: none !important;
        font-size: 12px;
        width: 100%;
    }

    .no-border:focus {
        outline: none;
    }

    table.mat-elevation-z8 th,
    table.mat-elevation-z8 td {
        border: 1px solid #ddd;
    }

    .mdc-data-table__row:last-child .mdc-data-table__cell {
        border-bottom: 1px solid #ddd;
    }

    td, th{
      text-align: center !important;
    }
    
    tr:nth-child(odd) td {
      background-color: #f9f9f9;
    }

    table{
      border: 1px solid #ddd !important;
    }

    mat-tab-header{
      max-width: 75vw !important;
      overflow-x: auto !important;
    }